services:
  dogecoin-node:
    image: dogeos69/dogecoin:1.14.9
    container_name: dogecoin-node
    restart: unless-stopped
    volumes:
      - ./configs/${NETWORK}/dogecoin.conf:/home/dogecoin/.dogecoin/dogecoin.conf
      - dogecoin_data:/data
    ports:
      - "${DOGECOIN_P2P_PORT}:${DOGECOIN_P2P_PORT}"
      - "${DOGECOIN_RPC_PORT}:${DOGECOIN_RPC_PORT}"
    command: ["/dogecoin/bin/dogecoind", "-conf=/home/dogecoin/.dogecoin/dogecoin.conf", "-datadir=/data", "-printtoconsole"]

  l2geth-node:
    image: scrolltech/l2geth:scroll-v5.9.6
    profiles: ["l2geth"]
    container_name: l2geth-node
    restart: unless-stopped
    env_file:
      - ./envs/common/l2geth.env
      - ./envs/${NETWORK}/l2geth.env
    volumes:
      - ./configs/${NETWORK}/l2geth-genesis.json:/l2geth/genesis/genesis.json
      - ./scripts/l2geth_entrypoint.sh:/entrypoint.sh
      - l2geth_data:/l2geth/data
    ports:
      - "8545:8545"
      - "8546:8546"
      - "30303:30303/tcp"
      - "30303:30303/udp"
    depends_on:
      - l1-interface
    entrypoint: ["/bin/sh", "/entrypoint.sh"]

  l2reth-node:
    image: scrolltech/rollup-node:v0.0.1-rc63
    profiles: ["l2reth"]
    container_name: l2reth-node
    restart: unless-stopped
    env_file:
      - ./envs/${NETWORK}/l2reth.env
    volumes:
      - ./configs/${NETWORK}/l2reth-genesis.json:/l2reth/genesis/genesis.json
      - ./scripts/l2reth_entrypoint.sh:/entrypoint.sh
      - l2reth_data:/l2reth
    ports:
      - "8545:8545"
      - "8546:8546"
      - "30303:30303/tcp"
      - "30303:30303/udp"
    depends_on:
      - l1-interface
    entrypoint: ["/bin/sh", "/entrypoint.sh"]

  celestia-light-node:
    image: ghcr.io/celestiaorg/celestia-node:v0.28.2-mocha
    container_name: celestia-light-node
    restart: unless-stopped
    env_file:
      - ./envs/${NETWORK}/celestia.env
    volumes:
      - ./scripts/celestia-entrypoint.sh:/entrypoint.sh
      - ./configs/${NETWORK}/celestia/config.toml:/etc/celestia/config.toml
      - celestia_data:/home/celestia
    ports:
      - "26658:26658"
      - "26659:26659"
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
  l1-interface:
    image: jayjayjayjay/l1-interface:102725-01
    container_name: l1-interface
    restart: unless-stopped
    env_file:
      - ./envs/common/l1-interface.env
      - ./envs/${NETWORK}/l1-interface.env
    volumes:
      - ./configs/${NETWORK}/l2geth-genesis.json:/app/genesis/genesis.json:ro
      - l1_interface_data:/data
    ports:
      - "8547:8545"
      - "5052:5052"
      - "9090:9090"
    depends_on:
      - dogecoin-node
      - celestia-light-node

volumes:
  dogecoin_data:
  l2geth_data:
  l2reth_data:
  celestia_data:
  l1_interface_data:
  
