services:
  dogecoin-node:
    image: dogeos69/dogecoin:1.14.9
    container_name: dogecoin-node
    restart: unless-stopped
    volumes:
      - ./configs/${NETWORK:-testnet}/dogecoin.conf:/home/dogecoin/.dogecoin/dogecoin.conf
      - dogecoin_data:/data
    ports:
      # Mainnet ports: P2P=22556, RPC=22555
      # Testnet ports: P2P=44556, RPC=44555
      - "${DOGECOIN_P2P_PORT:-44556}:${DOGECOIN_P2P_PORT:-44556}"
      - "${DOGECOIN_RPC_PORT:-44555}:${DOGECOIN_RPC_PORT:-44555}"
    command: ["/dogecoin/bin/dogecoind", "-conf=/home/dogecoin/.dogecoin/dogecoin.conf", "-datadir=/data", "-printtoconsole"]

  l2geth-node:
    image: ${L2GETH_IMAGE:-scrolltech/l2geth:scroll-v5.9.4}
    container_name: l2geth-node
    restart: unless-stopped
    env_file:
      - ./envs/common/l2geth.env
      - ./envs/${NETWORK:-testnet}/l2geth.env
    volumes:
      - ./configs/${NETWORK:-testnet}/genesis.json:/l2geth/genesis/genesis.json
      - ./scripts/entrypoint.sh:/entrypoint.sh
      - l2geth_data:/l2geth/data
    ports:
      - "8545:8545"
      - "8546:8546"
      - "30303:30303/tcp"
      - "30303:30303/udp"
    depends_on:
      - l1-interface
    entrypoint: ["/bin/sh", "/entrypoint.sh"]

  celestia-light-node:
    image: ghcr.io/celestiaorg/celestia-node:v0.27.5-mocha
    container_name: celestia-light-node
    restart: unless-stopped
    env_file:
      - ./envs/${NETWORK:-testnet}/celestia.env
    volumes:
      - ./scripts/celestia-entrypoint.sh:/entrypoint.sh
      - ./configs/${NETWORK:-testnet}/celestia/config.toml:/etc/celestia/config.toml
      - celestia_data:/home/celestia
    ports:
      - "26658:26658"
      - "26659:26659"
    entrypoint: ["/bin/sh", "/entrypoint.sh"]


  l1-interface:
    image: ${L1_INTERFACE_IMAGE:-dogeos69/l1-interface:101025-00}
    container_name: l1-interface
    restart: unless-stopped
    env_file:
      - ./envs/common/l1-interface.env
      - ./envs/${NETWORK:-testnet}/l1-interface.env
    volumes:
      - ./configs/${NETWORK:-testnet}/genesis.json:/app/genesis/genesis.json:ro
      - l1_interface_data:/data
    ports:
      - "8547:8545"
      - "5052:5052"
      - "9090:9090"
    depends_on:
      - dogecoin-node
      - celestia-light-node

volumes:
  dogecoin_data:
  l2geth_data:
  celestia_data:
  l1_interface_data: